body {
  color: #404040;
  font-size: 15px;
  font-weight: normal;
}
a {
  text-decoration: none;
  out-line: none;
  color: #404040;
}
/*Header*/
#Header {
  width: 100%;
}
#Header #Notice {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background: #f4f4f4;
}
#Header #Notice .Notice-Box {
  width: 1200px;
  height: 15px;
  margin: 0 auto;
}
#Header #Notice .Notice-Box .Ico1 {
  float: left;
  margin: 0 5px;
  height: 15px;
}
#Header #Notice .Notice-Box span {
  float: left;
  height: 100%;
  line-height: 15px;
  font-size: 10px;
}
#Header #Notice .Notice-Box .Ico2 {
  float: right;
  margin: 0 5px;
  height: 15px;
}
#Header #Notice .Notice-Box .weixin {
  float: right;
  font-size: 10px;
}
#Header #Notice .Notice-Box .weixin .ewm {
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 1160px;
  width: 120px;
  display: none;
}
#Header #Notice .Notice-Box .weixin:hover .ewm {
  display: block;
}
#Header .Header_box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
  background: url(../images/portal_ft.jpg) center no-repeat;
}
#Header .Header_box #Logo {
  float: left;
  height: 85px;
}
#Header .Header_box form {
  width: 50%;
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
#Header .Header_box form input {
  float: left;
  padding: 8px 20px;
  border: solid 2px #18aaef;
}
#Header .Header_box form input[type="text"] {
  width: 80%;
  padding-left: 35px;
  background: #ffffff url(../images/minico.png) no-repeat;
  background-position: 10px -107px;
}
#Header .Header_box form input[type="submit"] {
  width: 20%;
  background: #18aaef;
  color: #fff;
}
#Header .Header_box form input[type="submit"]:hover {
  cursor: pointer;
}
#Navigation {
  width: 100%;
  background: #18aaef;
}
#Navigation ul {
  width: 1200px;
  margin: 0 auto;
}
#Navigation ul li {
  float: left;
}
#Navigation ul li a {
  float: left;
  color: #fff;
  padding: 15px 30px;
}
#Navigation ul li a:hover {
  background: #FFC24B;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -transition: all 0.3s;
}
#Navigation ul li .hover {
  background: #FFC24B;
}
.fixed {
  position: absolute;
  top: 0;
  left: 0;
}
#HotSpots {
  width: 1180px;
  margin: 0 auto;
  padding: 5px 10px;
}
#HotSpots .Ico {
  float: left;
  height: 20px;
  margin: 0 15px;
}
#HotSpots span {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}
#HotSpots span a {
  color: #ffc24b;
}
#HotSpots span a i {
  color: #404040;
  font-style: normal;
}
