body {
  font-size: 15px;
  font-weight: normal;
  background: #f6f6f6;
}
a {
  text-decoration: none;
  out-line: none;
  color: #404040;
}
/* 首页 */
#Tp-box {
  position: fixed;
  width: 100%;
  height: 63px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  background: #fff;
  z-index: 99999;
}
#Top {
  width: 1098px;
  height: 42px;
  margin: 0 auto;
  padding: 10px 50px;
  background: #fff;
  z-index: 99999;
}
#Top .Logo {
  border-right: solid 1px rgba(160, 160, 160, 0.3);
}
#Top .cd {
  margin: 10px 0;
  border-right: solid 1px rgba(160, 160, 160, 0.3);
}
#Top .cd1 {
  border-right: none;
}
#Top .Search {
  position: relative;
  top: 0;
  left: 450px;
  margin: 8px 0;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
}
#Top .Search img {
  height: 25px;
}
#Top .Search:hover {
  cursor: pointer;
  opacity: 0.6;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -transition: all .5s;
}
@media screen and (max-width: 1200px) {
  #Top .Search {
    position: relative;
    top: 0;
    left: 400px;
  }
}
@media screen and (max-width: 1100px) {
  #Top .Search {
    position: relative;
    top: 0;
    left: 300px;
  }
}
@media screen and (max-width: 1000px) {
  #Top .Search {
    position: relative;
    top: 0;
    left: 200px;
  }
}
@media screen and (max-width: 900px) {
  #Top .Search {
    position: relative;
    top: 0;
    left: 100px;
  }
}
@media screen and (max-width: 800px) {
  #Top .Search {
    position: relative;
    top: 0;
    left: 0px;
  }
}
#Top li {
  float: left;
  padding: 0 20px;
}
#Top li a {
  width: 100%;
  height: 100%;
  color: #404040;
}
#Top li a:hover {
  color: #e7cb60;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -transition: all .5s;
}
#Top-2 {
  width: 100%;
  height: 64px;
}
#Search-1 {
  z-index: 999999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
#Search-2 {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 100%;
  background: #fff;
  width: 50%;
  height: 100%;
  border: solid 1px rgba(160, 160, 160, 0.3);
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -transition: all .3s;
}
#Search-2 form {
  width: 50%;
  height: 40px;
  margin: 50px auto;
}
#Search-2 form input {
  float: left;
  border: solid 1px rgba(160, 160, 160, 0.3);
}
#Search-2 form input[type="text"] {
  width: 69%;
  padding: 10px 5%;
}
#Search-2 form input[type="submit"] {
  width: 20%;
  padding: 10px 0;
}
#Search-2 form input:focus {
  box-shadow: 0 0 10px #505050;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -transition: all .3s;
}
#Search-2 #Hot {
  width: 50%;
  margin: 0 auto;
}
#Search-2 #Hot .Nav-2 {
  color: #404040;
}
#Search-2 #Hot .Nav-2 p {
  color: #ccc;
  font-size: 10px;
}
#Search-2 #Hot .Nav-2 .Img {
  width: 50%;
  margin: 10px 0;
}
#DiseaseClass-Nav {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
#DiseaseClass-Nav .Nav-1,
#DiseaseClass-Nav .Nav-2 {
  float: left;
  border: solid 1px rgba(160, 160, 160, 0.3);
  background: #fff;
}
#DiseaseClass-Nav .Nav-1 .Title,
#DiseaseClass-Nav .Nav-2 .Title {
  width: 98%;
  padding: 10px 1%;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  color: #18aaef;
  font-weight: bold;
}
#DiseaseClass-Nav .Nav-1 {
  width: 208px;
  padding: 20px;
}
#DiseaseClass-Nav .Nav-1 p {
  width: 90%;
  padding: 10px 5%;
  border-bottom: 1px dotted #c8c8c8;
}
#DiseaseClass-Nav .Nav-2 {
  width: 898px;
  padding: 20px;
  margin-left: 10px;
}
#DiseaseClass-Nav .Nav-2 .box {
  margin-bottom: 20px;
}
#DiseaseClass-Nav .Nav-2 .box span {
  float: left;
  width: 30%;
  padding: 10px 1.5%;
}
#backTop {
  position: fixed;
  top: 90%;
  left: 90%;
  width: 80px;
  cursor: pointer;
  opacity: 0.7;
  display: none;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -transition: all .3s;
}
#backTop:hover {
  opacity: 1;
}
