body {
  color: #404040;
  font-size: 15px;
  font-weight: normal;
}
a {
  text-decoration: none;
  out-line: none;
}
/*Header*/
#Header {
  width: 100%;
}
#Header .Header_box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 25px 0;
  background: url(../images/portal_ft.jpg) center no-repeat;
}
#Header .Header_box #Logo {
  float: left;
  height: 85px;
}
#Header .Header_box form {
  width: 50%;
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
#Header .Header_box form input {
  float: left;
  padding: 8px 20px;
  border: solid 2px #18AAEF;
}
#Header .Header_box form input[type="text"] {
  width: 80%;
  padding-left: 35px;
  background: #fff url(../images/minico.png) no-repeat;
  background-position: 10px -107px;
}
#Header .Header_box form input[type="submit"] {
  width: 20%;
  background: #18AAEF;
  color: #fff;
}
